@import '../../../assets/styles/variables';
@import '../../../assets/styles/dashboard/dashboard-basics';
@import '../../../assets/styles/dashboard/dashboard-gui-elements';
@import '../../../assets/styles/layout/offsets';
@import '../../../assets/styles/icons/material-icons';

.dashboard-content-container {
    background-color: #fafafa;
}

.dashboard-content-inner {
    background-color: #fafafa;
}

.dashboard-headline {
    padding-top: 50px;
    background-color: #fafafa;
}
